<div class="row">
    <div class="col-md-3">
        <p class="text-primary">Parcela</p>
    </div>
    <div class="col-md-3">
        <p class="text-primary">Data de Inicio</p>
    </div>
    <div class="col-md-3">
        <p class="text-primary">Data Fim</p>
    </div>
    <div class="col-md-3">
        Dias
    </div>
</div>

{% for i in range %}
    <div class="row">
        <div class="col-md-3">
            <span id="p{{ ano_ferias }}{{ i }}">{{ ano_ferias }}/{{ i }}</span>
        </div>
        <div class="col-md-3">
            <input id="di{{ ano_ferias }}{{ i }}"
                   type="date" data-mask="00/00/0000"
                   value="" placeholder="__/__/____"/>
        </div>
        <div class="col-md-3">
            <input id="df{{ ano_ferias }}{{ i }}"
                   type="date" data-mask="00/00/0000"
                   value="" placeholder="__/__/____"/>
        </div>
    </div>
{% endfor %}