<div class="row">
    <div class="col-md-3">
        <p class="text-primary">Parcela</p>
    </div>
    <div class="col-md-3">
        <p class="text-primary">Data de Inicio</p>
    </div>
    <div class="col-md-3">
        <p class="text-primary">Data Fim</p>
    </div>
    <div class="col-md-3">
        <p class="text-primary">Dias</p>
    </div>
</div>

{% for p, valor in parcelas.items %}
    <div class="row">
        <div class="col-md-3">
            <span>{{ p }}</span>
        </div>
        <div class="col-md-3">
                            <span data-mask="00/00/0000">
                                {{ valor.inicio | date:'d/m/Y' }}
                            </span>
        </div>

        <div class="col-md-3">
            <span data-mask="00/00/0000"> {{ valor.fim | date:'d/m/Y' }}</span>
        </div>
        <div class="col-md-3">
            <span>{{ valor.dias }}</span>
        </div>
    </div>
{% endfor %}